* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background: rgb(248,244,249);
    background: linear-gradient(326deg, rgba(248,244,249,1) 5%, rgba(30,150,252,1) 97%);
    color: #171219;
    font-family: sans-serif;
}

#main_stuff .header {
    color: #F8F4F9;
    margin-bottom: 35px;
    text-align: center;
}

.header h1 {
    margin-bottom: 15px;
}

.spacer {  
    height: 20vh ;
}

#main_stuff {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 30vh;
}

.temp_sect {
    display: flex;
    justify-content: space-around;
    width: 40vw;
    align-items: center;
    margin-bottom: 35px;
    flex-direction: column;
    font-size: 28px;
}

.city {
    display: flex;
    justify-content: center;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    margin-top: 5px;
}

.temp {
    display: flex;
    justify-content: space-between;
    padding: 10px; 
    margin-right: 8px;   
}

 .temp .number {
     margin-right: 8px;
 }

 .warm_gradient {
    background: rgb(247,181,56);
    background: linear-gradient(326deg, rgba(247,181,56,1) 5%, rgba(219,124,38,1) 32%, rgba(216,87,42,1) 68%, rgba(195,47,39,1) 97%);
 }

 .nice_gradient {
    background: rgb(199,249,204);
    background: linear-gradient(326deg, rgba(199,249,204,1) 5%, rgba(128,237,153,1) 32%, rgba(87,204,153,1) 68%, rgba(56,163,165,1) 97%);
 }

 .cold_gradient {
    background: rgb(190,233,232);
    background: linear-gradient(326deg, rgba(190,233,232,1) 5%, rgba(98,182,203,1) 32%, rgba(95,168,211,1) 67%, rgba(27,73,101,1) 92%);
 }